.outerContainer {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background: #f6f8fa;
}

.container {
    border: 1px solid lightgrey;
    padding: 5px;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
}

/* .container:hover {
    background: #f6f8fa;
} */

.header {
    background: #f6f8fa;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.imgCol {
    width: 18px;
    padding-left: 10px;
    padding-right: 0px;
}

.commentCol {
    width: 70px;
    padding-right: 0px;
    padding-left: 30px;
}

.detailContainer {
    border: 1px solid lightgrey;
    padding: 5px;
    background: white;
    margin-left: 20px;
    margin-right: 20px;
}